# Gemini API Key (Required for AI operations if enabled)
GEMINI_API_KEY=

# Final Deployed Website URL (e.g., https://vortexcode.shop)
APP_URL=https://vortexcode.shop

# FamGateway Payment Gateway Integration (Server-Side Only)
FAMUPIGATEWAY_BASE_URL=https://famupigateway.site/api
FAMUPIGATEWAY_API_KEY=Famcfc08cd92c090e3718e9ad92155eb0fc
FAMUPIGATEWAY_WEBHOOK_SECRET=87116d2de22f33c0250df8cf721461952ad1545632beb18caca04a9b2ac1916f
FAMUPIGATEWAY_EXPIRY_MINUTES=5
